@import "tailwindcss";
/* @import url('https://fonts.googleapis.com/css2?family=Julee&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Julee&display=swap');
/* body{
   selection:bg-[#db8829] selection:text-white 
} */

/* Heading 2 → Catering and Event Design */

 
@layer base{
    ::selection{
        @apply bg-[#ed9b3d] text-white 
    }

}


.myanim {
  animation: myAnim 2s ease 0s 1 normal forwards;
}
 
@keyframes myAnim {
  0% {
    background-position: center bottom;
    background-size: 100%;
  }

  100% {
    background-position: center bottom;
    background-size: 150%;
  }
}


	div.at-container {
		display: flex;
		align-items: center;
		justify-content: center; 
	}
	.at-item { 
		
		animation-name: slit-in-horizontal;
		animation-duration: 1s;
		animation-timing-function: linear;
		animation-delay: 0s;
		animation-iteration-count: 1;
		animation-direction: normal;
		animation-fill-mode: none;
			
		/* shorthand
		animation: slit-in-horizontal 1s linear 0s 1 normal none;*/
	}
	@keyframes slit-in-horizontal {
			
		0% {
			transform:translateZ(-800px) rotateX(90deg);
			opacity:0;
		}
		50% {
			transform:translateZ(-160px) rotateX(87deg);
			opacity:1;
		}
		100% {
			transform:translateZ(0) rotateX(0);
		}
	}
 




.testimonial-slide {
  opacity: 0;
  transition: opacity 0.5s ease-in-out; 

}

.testimonial-slide.active {
  opacity: 1;
  position: relative;
}

.dot.active {
  background-color: #4B5563;
}